.nav-wrapper {
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 30;
    background-color: #ffff;
    height: auto; /* Cambia a auto para mejor adaptabilidad */
}

.nav-content {
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center; /* Cambia a center para centrar en pantallas más grandes */
    padding: 1rem 0;
    margin: 0 auto;
}

.nav-content ul {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
}

.nav-content li {
    margin: 0 1.5rem; 
}

.menu-link {
    color: #0a0c0c;
    font-size: 1.6rem;
    text-decoration: none;
    position: relative;
}

.menu-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #0a0c0c;
    transition: width 0.4s ease, right 0.4s ease;
}

.menu-link:hover::after {
    width: 100%;
    right: 0;
}

/* Media queries */
@media (max-width: 768px) {
    .nav-content {
        max-width: 768px;
        padding: 0.8rem 0;
        justify-content: center; /* Centra el contenido en pantallas pequeñas */
    }

    .menu-link {
        font-size: 1.4rem; 
    }
}

@media (max-width: 600px) {
    .navbar-logo {
        width: 100px;
        height: 100px;
    }

    .nav-wrapper {
        padding: 0.5rem 0;
    }
    
    .nav-content {
        max-width: 460px;
        padding: 0.6rem 0;
        flex-direction: column; /* Apila los elementos verticalmente si es necesario */
        align-items: center; /* Alinea los elementos al centro */
    }

    .menu-link {
        font-size: 1.2rem; 
    }

    .nav-content li {
        margin: 0 1rem; 
    }
}